<div class="app">
  <div>
    <h2>
      This Privacy Policy outlines how we collect, use, disclose, and protect
      your personal information when you use our website to build your resume.
    </h2>
    <p>
     <strong> By using our website,</strong> you consent to the terms of this Privacy Policy.
      Information We Collect We may collect non-personal information, such as
      your IP address, browser type, and device information.
    </p>
    <p></p>
    <p>
     <strong> How We Use Your Information </strong> We may use your non-personal information to
      improve our website and services. Disclosure of Your Information We will
      not sell, trade, or rent your personal information to third parties for
      marketing purposes.
    </p>
    <p>
      We may disclose your personal information to our employees, contractors,
      and service providers who need to know such information to provide
      services to you. We may also disclose your information as required by law
      or to protect our rights and interests.
    </p>
    <p>
     <strong> Security </strong> We use reasonable measures to protect your personal information
      from unauthorized access, use, or disclosure. However, no data
      transmission over the internet or electronic storage is entirely secure,
      so we cannot guarantee absolute security.
    </p>
    <p>
     <strong> Cookies </strong> We may use cookies to personalize your experience on our website
      and to collect non-personal information. You can control cookies through
      your browser settings. Links to Third-Party Websites Our website may
      contain links to third-party websites. We are not responsible for the
      privacy practices or content of those websites.
    </p>
    <p>
      Changes to Our Privacy Policy We reserve the right to modify this Privacy
      Policy at any time.
    </p>
    <p>
      Contact Us If you have any questions about this Privacy Policy or our
      practices, <strong> please contact us at
     resumegenerationai@gmail.com</strong>
    </p>
  </div>
</div>
