.login{
  width: 100%;
  display: grid;
}
.login .main{
    display: grid;
    margin-top: 15vh;
    border: solid 1px black;
    justify-self: center;
    padding: 9vw 9vw 0 9vw;
    border-radius: 15px;
    box-shadow: 1px 2px 10px;
    background: white;
    justify-items: center;
}
.google img{
  border-radius: 8px;
}
img {
  width: 100%;
  outline: 0px solid #d2e3fc;
  transition: 0.2s;
  background: #d2e3fc;
}
a {
  margin: 15px 0;
  width: 30vh;
  display: grid;
}
img:hover {
  border-radius: 4px;
  outline: 4px solid #d2e3fc;
}
.login p{
  border-top: 1px solid;
    margin-top: 4vw;
}
@media(min-width:800px)  {
  .login .main {
    padding: 6vw 6vw 0 6vw;
  }
}
